<div class = "row">
  <div class="col-md-6">
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteContact(contact._id)">Delete</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
		<h1>coords</h1>
		<div style="margin-left: 15px">
			<p ng-if="contact.coords.latitude">latitude: {{ contact.coords.latitude }}</a></p>
			<p ng-if="contact.coords.longitude">longitude: {{ contact.coords.longitude }} </p>
			<p ng-if="contact.coords.altitude">altitude: {{ contact.coords.altitude }} </p>
			<p ng-if="contact.coords.accuracy">accuracy: {{ contact.coords.accuracy }}</p>
			<p ng-if="contact.coords.altitudeAccuracy">altitudeAccuracy: {{ contact.coords.altitudeAccuracy }}</p>
		</div>
		<p ng-if="contact.timestamp">timestamp: {{ contact.timestamp }}</p>
		<p ng-if="contact.humanReadable">{{ contact.humanReadable }}</p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
    </p>
  </div>
</div>
<!-- Contact form -->
<div ng-include="contactFormUrl">
</div>